div(rel="tab-source-box")
	ul
		li
			a(href="#",class="",data-source="/admin/index",rel="tab-source-item") 首页
		li
			a(href="#",class="",data-source="/admin/add",rel="tab-source-item") 添加文章
		li
			a(href="#",class="",data-source="/admin/list",rel="tab-source-item") 文章列表
		li
			a(href="#",class="",data-source="/admin/user-list",rel="tab-source-item") 用户列表
		li
			a(href="#",class="",data-source="/admin/classification",rel="tab-source-item") 添加分类
		li
			a(href="#",class="",data-source="/admin/nav",rel="tab-source-item") 导航管理