extends ../admin-layout
block content		
	div(class="add-list admin-main")
		form(class="form-group",action="/admin/add",method="post")
			ul(class="form-group-list")
				li(class="form-group-item")
					input(class="input",name="title",type="text")
				li(class="form-group-item")
					textarea(class="textarea",name="body", cols="30", rows="10")
				li(class="form-group-item")
					div(class="btn-box")
						button(class="btn btn-1") submit
block scripts
	script(src="/javascripts/src/admin.js")