extends layout
block link
	link(rel="stylesheet", href="/javascripts/plugins/kindeditor-4.1.10/themes/default/default.css")
block content
	form(action="/admin/add",method="post")
		ul.form-ul
			li
				input(type="text",name="title",class="admin-input")
			li
				textarea(name="content", cols="30", rows="10",class="admin-textarea")
			li
				input(type="submit",value="asdf")
block scripts
	//script(src="/javascripts/plugins/kindeditor-4.1.10/kindeditor-min.js")
	script(src="/javascripts/lib/require.min.js")
	script(src="/javascripts/require-config.js")
