doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/admin.css')
	body
					
		div(class="admin-aside")
			div(class="admin-logo")
				a(href="/")
					img(src="/images/logo.png", alt="")
				//span=title
			include _aside
		div(class="admin-content")
			div(class="admin-header clearfix")
				div(class="fl")					
				div(class="fr")
					include ../user/_user	
			div(class="tab-win-box")
				ul(rel="tab-tag-box")
			div(class="tab-win-iframe", rel="tab-iframe-box")
				iframe(src="", frameborder="0",class="tab-win-iframe",id="",tab-win-iframe="")
			block content
		script(src="/javascripts/src/lib/require.js")
		script(src="/javascripts/src/config/requirejs-config.js")
		script(src="/javascripts/src/admin.js")
		block scripts
