doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/admin.css')
	body
		div(class="admin-header clearfix")
			div(class="fl")
				img(src="/images/logo.png", alt="")
				span=title
			div(class="fr")				
				div(class="user-box")
					img(src="/images/user.jpg", alt="")
					span= user.nickname || user.userName
					a(href="/") 退出
		div(class="admin-aside")
			include _aside
		div(class="admin-content")
			div(class="tab-win-box")
				ul(rel="tab-tag-box")
					//- li(class="",data-tag-source="")
					//- 	span 添加
					//- li(class="",data-tag-source="")
					//- 	span 添加
					//- li(class="",data-tag-source="")
					//- 	span 添加
					//- li(class="",data-tag-source="")
					//- 	span 添加
					//- li(class="",data-tag-source="")
					//- 	span 添加
			div(class="tab-win-iframe", rel="tab-iframe-box")
				iframe(src="", frameborder="0",class="tab-win-iframe",id="",tab-win-iframe="")
			block content
		script(src="/javascripts/src/lib/require.js")
		script(src="/javascripts/src/config/requirejs-config.js")
		script(src="/javascripts/src/admin.js")
		block scripts
