script(type="text/template",id="template")
	|<dl>
	|	<dt>
	|		<img src="http://www.web.com/images/user.jpg" alt=""></dt>
	|	<dd>
	|		<p class="gray">
	|			<strong class="bold"><%=who%></strong><span class="m-l-10"><%=date%></span>
	|			</p>
	|		<p><%=content%></p>
	|	</dd>
	|</dl>