@import 'compass/reset';
@import "compass/css3/filter";
@import 'mixin';
@import 'width';
@import 'margin-padding';
@import 'varliable';

.transition {
	@include transition(all 0.25s linear);
}

.transition-color {
}

.transition-bg {
}

@import 'btn';

/*
** ==========  ==========
*/
.clearfix {
	@include clearfix;
}

.clear {
	clear: both;
	height: 0;
	line-height: 0;
	overflow: hidden;
}

.fl {
	@include float(left);
}

.fr {
	@include float(right);
}

/*
** ========== 对齐 ==========
*/
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.vm {
	vertical-align: middle;
}

.ell {
	@include ell;
}

.of-x-hidden {
	overflow-x: hidden;
}

.of-x-auto {
	overflow-x: auto;
}

.of-y-hidden {
	overflow-x: hidden;
}

.of-y-auto {
	overflow-y: auto;
}

.no-resize {
	resize: none;
}

.inline-block {
	@include inlineBlock;
}

.user-select {
	@include userSelect;
}

/*
** ========== Font ==========
*/
.fz-px-12 {
	font-size: 12px;
}

.fz-px-14 {
	font-size: 14px;
}

.fz-px-16 {
	font-size: 16px;
}

.fz-px-18 {
	font-size: 18px;
}

.fz-px-20 {
	font-size: 20px;
}

body {
	//	font-family:;
	font-size: 14px;
	font: normal normal 12px/1.5 Arial, 'Microsoft YaHei'
}

a {
	text-decoration: none;
	@extend .transition;
	color: #333;

	&:hover {
		color: $mainColor;
	}

}

textarea {
	resize: none;
}

.form-group {
	.form-group-list {
	}

	.form-group-item {
		margin: 10px 0;
	}

	.btn-box {
		text-align: right;
	}

	.btn {
		padding: 10px 20px;
		font-size: 14px;
	}

	.input,
	.textarea {
		//width: 100%;
	}

}

div.block-margin {
	margin-top: 20px;
}