@import 'varliable';
$mainWidth: 78%;
$asideWidth: 20%;
$headerHeight: 50px;

//layout
.header {
	height: $headerHeight;
	background-color: $mainColor;

	.wrap {
		min-height: inherit;
	}

	strong {
		@extend .fl;
		height: $headerHeight;
		line-height: $headerHeight;
		margin-left: 20px;
	}

	span {
		color: #6f9a37;
	}

	a {
		color: #fff;
	}

	.search-box {
		margin-top: 10px;
		margin-left: 50px;
	}

	.btn-2 {
		padding: 0px 10px;

		&:hover {
			color: $mainColor;
			background-color: #fff;
			opacity: 1;
		}

	}

}

.bread-crumbs {
	@extend .clearfix;

	.wrap {
		min-height: inherit;
		border-bottom: 1px solid #f2f2f2;
	}

	a,
	em,
	span {
		@extend .fl;
		height: 50px;
		line-height: 50px;
		margin-right: 10px;
	}

	span {
		color: #999;
	}

}

.search-box {
	input,
	button {
		border: none;
		height: 30px;
		margin: 0;
	}

	input {
		width: 150px;
		padding: 0 10px;
	}

	button {
		padding: 0 20px;
	}

}

.footer {
	text-align: center;
	padding: 30px 20px 50px 20px;
	color: #eee;
	background-color: $mainColor;
}

.wrap {
	@extend .clearfix;
	min-height: 800px;
}

.main {
	@extend .fl;
	width: $mainWidth;
}

.aside {
	@extend .fr;
	width: $asideWidth;
}

.header {
	color: #fff;

	h1 {
		strong {
			font-size: 26px;
		}

	}

}

.nav {
	@extend .clearfix;
	@extend .fr;
	margin-left: 20px;

	li.nav-item {
		@extend .fl;
	}

	li.nav-item,
	a {
		height: $headerHeight;
		line-height: $headerHeight;
	}

	a {
		display: block;
		color: #fff;
		font-size: 16px;
		padding: 0 15px;

		&:hover {
			//opacity: 1;
			background-color: #3577A3;
		}

	}

}

.header-user {
	padding: 10px;
	height: 30px;
	line-height: 30px;

	img {
		width: 30px;
		border-radius: 50%;
	}

	a {
		margin: 0 5px;
	}

	img,
	span,
	a {
		@extend .vm;
		@extend .inline-block;
	}

}

//section
.section {
	.section-title {
		//font-weight: bold;
		font-size: 16px;
	}

	.section-content {
		margin-top: 10px;
	}

	margin-bottom: 20px;
}