@import 'varliable';
$mainWidth: 78%;
$asideWidth: 20%;
$headerHeight: 50px;

//layout
.header {
	height: $headerHeight;
	background-color: $mainColor;

	strong {
		@extend .fl;
		height: $headerHeight;
		line-height: $headerHeight;
		margin-left: 20px;
	}

	a {
		color: #fff;
	}

}

.footer {
	text-align: center;
	padding: 30px 20px 50px 20px;
	color: #eee;
	background-color: $mainColor;
}

.wrap {
	@extend .clearfix;
	min-height: 800px;
}

.main {
	@extend .fl;
	width: $mainWidth;
}

.aside {
	@extend .fr;
	width: $asideWidth;
}

.header {
	color: #fff;

	h1 {
		strong {
			font-size: 20px;
		}

	}

}

.nav {
	@extend .clearfix;
	@extend .fr;
	margin-left: 20px;

	li.nav-item {
		@extend .fl;
	}

	li.nav-item,
	a {
		height: $headerHeight;
		line-height: $headerHeight;
	}

	a {
		display: block;
		color: #fff;
		font-size: 16px;
		padding: 0 15px;

		&:hover {
			//opacity: 1;
			background-color: #3577A3;
		}

	}

}

.header-user {
	padding: 10px;
	height: 30px;
	line-height: 30px;

	img {
		width: 30px;
		border-radius: 50%;
	}

	a {
		margin: 0 5px;
	}

	img,
	span,
	a {
		@extend .vm;
		@extend .inline-block;
	}

}

//section
.section {
	.section-title {
		//font-weight: bold;
		font-size: 16px;
	}

	.section-content {
		margin-top: 10px;
	}

	margin-bottom: 20px;
}