@import 'global';
@import 'mixin';

html,
body {
	height: 100%;
	background-color: #eee;
}

.home-page {
	overflow: hidden;
}

.input,
.textarea {
	border: 1px solid #ccc;
	border-radius: $radius;
}

.textarea {
}

//admin
.admin-header {
	height: 50px;
	line-height: 50px;
	background-color: #fff;
	box-shadow: 0 1px 0 #ccc;
	vertical-align: middle;

	img {
		width: 30px;
		height: 30px;
		margin-left: 20px;
	}

	a,
	img,
	span {
		display: inline-block;
		vertical-align: middle;
	}

}

.user-box {
	img {
		border-radius: 50%;
	}

	img,
	span {
		display: inline-block;
		margin: 0 5px;
		vertical-align: middle;
	}

}

.admin-aside {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 100%;
	background-color: #2c343f;

	.tab-selected-source {
		background-color: #666;
	}

	a {
		display: block;
		color: #fff;
		font-size: 14px;
		line-height: 40px;
		padding: 0 10px;
	}

}

.admin-main {
	padding: 20px;
	margin: 20px;
	background-color: #fff;

	li,
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style-type: none;
	}

}

.admin-logo {
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	//	font-size: 20px;

	img {
		width: 30px;
	}

	strong {
		font-size: 20px;
	}

}

.admin-content {
	margin-left: 200px;
}

//
$tabHeight: 40px;

.tab-win-box {
	height: $tabHeight;
	border-bottom: 5px solid #2f4050;
	@extend .clearfix;

	li,
	span {
		height: $tabHeight;
		line-height: $tabHeight;
	}

	.tab-hover {
		.tab-del {
			display: block;
		}

	}

	.tab-del {
		display: none;
		position: absolute;
		top: 50%;
		right: 5px;
		margin-top: -10px;
		width: $tabHeight/2;
		height: $tabHeight/2;
		line-height: $tabHeight/2;
		text-align: center;
		background-color: #eee;
		border-radius: 50%;
		cursor: pointer;
	}

	.tab-select {
		span {
			background-color: #2f4050;
			color: #fff;
		}

	}

	li {
		@extend .fl;
		position: relative;

		span {
			display: block;
			cursor: pointer;
			padding: 0 30px;
			background-color: #eee;
			border-right: 1px solid #ccc;
		}

	}

}

.tab-win-iframe {
	iframe {
		width: 100%;
		min-height: 500px;
	}

}

.tab-select-source {
	background-color: #fff;
}

//
.table {
	width: 100%;

	td,
	th {
		padding: 10px;
	}

	th {
		text-align: center;
		font-weight: bold;
		background-color: #f9f9f9;
	}

	td,
	th {
		border-color: #e2e7eb;
		border-width: 1px;
		border-style: solid;
	}

	.even {
		background-color: #f9f9f9;
	}

	.odd {
		background-color: #fff;
	}

}

.add-article-table {
	th,
	td {
		&:nth-child(1) {
			width: 10%;
		}

		&:nth-child(2) {
			width: 10%;
		}

		&:nth-child(3) {
			//width: 10%;
		}

		&:nth-child(4) {
			width: 15%;
			text-align: center;
		}

		&:nth-child(5) {
			width: 15%;
			text-align: center;
		}

		&:nth-child(6) {
			width: 10%;
			text-align: center;
		}

	}

}

.add-list {
	.form-group-list {
		width: 628px;
		margin: auto;
	}

	.input {
		width: 600px;
		height: 40px;
		padding: 0 10px;
	}

	.textarea {
		width: 600px;
		height: 300px;
		padding: 10px 10px;
	}

}