@import 'global';
@import 'mixin';
@import 'layout';
@import 'article';

body {
	//background-color: #ECECEC;
}

.wrap {
	margin: 10px;
}

.main {
	background-color: #fff;
}

//404
.error {
	text-align: center;

	strong {
		font-size: 40px;
	}

	pre {
		width: 60%;
		border: 1px solid #ccc;
		border-radius: $radius;
		padding: 30px;
		margin: auto;
	}

}

.tags {
	a {
		@extend .inline-block;
		padding: 5px;
		margin: 0 5px 5px 0px;
		border: 1px solid #ccc;
		border-radius: $radius;
		color: #333;

		&:hover {
			background-color: $mainColor;
			color: #fff;
		}

	}

}