@import 'global';
@import 'mixin';
$color: #000 #333 #666 #999 #ccc #eee #2C3E50 #337ab7;
$family: 'Microsoft YaHei';
$width: 80% 79% 19%;

html {
	font-size: 62.5%;
}

a {
	&,
	&:hover {
		text-decoration: none;
	}

	&:hover {
		@include transition(all 0.25s linear);
		@include opacity(0.75)
	}

}

body {
	color: nth($color, 2);
	font: normal normal  1em/1.5 nth($family, 1);
}

.page-width {
	width: nth($width, 1);
	margin: auto;
	@extend .clearfix;
}

.header {
	background-color: nth($color, 7);
}

.logo {
	@extend .fl;
	font-size: 1.6em;
	color: #fff;
	font-weight: bold;
	padding: 20px 10px;
}

.nav {
	ul {
		@extend .clearfix;
	}

	&,
	li {
		@extend .fl;
	}

	&,
	a {
		color: #fff;
	}

	a {
		display: block;
		padding: 20px 10px;
	}

	font-size: 1.6em;
}

//Body Layout
.main-body {
	@extend .clearfix;
	margin-top: 2em;
}

.main-article {
	@extend .fl;
	width: nth($width, 2);
}

.main-aside {
	@extend .fr;
	width: nth($width, 3);
}

.main-title {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

.main-list-title {
	font-weight: bold;
	font-size: 2em;
}

.article-info {
	color: nth($color, 4);
}

.article-preview {
	margin-top: 0.5em;
	font-size: 1.4em;
	color: nth($color, 3);
}

.article-link {
	margin-bottom: 1em;
	text-align: right;
}

.article-title {
	font-size: 3em;
}

.article-content {
	font-size: 1.6em;
	margin-top: 2em;
}

.btn {
	@extend .inline-block;
	border-radius: 3px;
}

.btn-1 {
	padding: 0.5em;
	color: #fff;
	background-color: nth($color, 8);
	border: 1px solid nth($color, 8);
}