@import 'global';
@import 'mixin';

html,
body {
	background-color: #207c88;
}

.login-box,
.register-box {
	width: 400px;
	padding: 0;
	margin: 20px auto;
	background-color: #fff;

	.header {
		padding: 20px;
		text-align: center;
		background-color: #004977;
		color: #fff;
		font-size: 30px;
	}

	.input,
	.textarea {
		width: 200px;
	}

	.input {
		padding: 0 10px;
	}

	.textarea {
		padding: 10px;
	}

}

.login-box {
	label {
		display: inline-block;
		width: 100px;
		text-align: right;
	}

	label,
	input {
		vertical-align: middle;
	}

	.form-group {
		padding: 50px 0;
	}

}

.table-user-list {
	text-align: center;

	td {
		height: 30px;
		vertical-align: middle;
		text-align: center;
	}

	.input {
		width: 50%;
		height: 25px;
	}

	.user-id {
	}

	.user-name {
	}

	.user-password {
	}

	.user-age {
	}

	.user-sex {
	}

	.user-email {
	}

	.user-permission {
	}

	.user-eidt {
	}

}

.add-user {
	margin: 20px;

	input {
		width: 100px;
	}

	select {
		width: 50px;
	}

	label,
	input,
	select {
		display: inline-block;
		vertical-align: middle;
		height: 25px;
		line-height: 25px;
		padding: 0;
		margin: 0 10px;
	}

}