extends layout
block link
	link(rel="stylesheet", href="/javascripts/plugins/syntaxhighlighter_3.0.83/styles/shCoreRDark.css")
block content
	div.main-body
	.page-width		
		div.main-article
			h1.article-title=doc.title
			div.article-content!=doc.content
		div.main-aside|adsf
block scripts
	script(src="/javascripts/plugins/syntaxhighlighter_3.0.83/scripts/shCore.js")
	script(src="/javascripts/plugins/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js")
	script(src="/javascripts/code.js")