extends layout
block content			
	include _header
	div.wrap
		div.main
			include article/_list
		div.aside
			include _article
	include _footer
block scripts
	script(src="/javascripts/src/index.js")

