div.main-body
	.page-width		
		div.main-article
			h1.main-title|前端资源
			h2.main-list-title|什么是JSDoc
			div.article-info|by <a href="">ad</a>
			div.article-preview
				|JSDoc是一个根据javascript文件中注释信息，生成JavaScript应用程序或库、模块的API文档 的工具。你可以使用他记录如：命名空间，类，方法，方法参数等。类似JavaDoc和PHPDoc。现在很多编辑器或IDE中还可以通过JSDoc直接或使用插件生成智能提示。从而使开发者很容易了解整个类和其中的属性和方法，并且快速知道如何使用，从而提高开发效率，降低维护成本。
			|asdf
		div.main-aside|adsf