div.main-body
	.page-width		
		div.main-article
			h1.main-title|前端资源
			each item in articleList
				h2.main-list-title=item.title || 'No Title'
				div.article-info
					|by
					a(href="#") #{item.author} 
					em 时间:#{item.dateTime.toDateString()}
				div.article-preview=pub.substr(item.content,300) || 'No Content'
				div.article-link
					a(href="article-detail?id="+item._id,class="btn btn-1")|查看全部&gt;&gt;
		div.main-aside
			include aside