div(class="header-user")
	- var user = locals.user||{};
	- var nickname = user.nickname||user.userName;
	if user.userName
		img(src="/images/user.jpg", alt="")
		a(href="/admin")=nickname
		a(href="/logout") 退出
	else 
		a(href="/login",class="btn btn-2") 登录
		span 
		a(href="/register",class="btn btn-2") 注册