doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/user.css')
	body
		block content
		include ../layout/_requirejs
		//script(src="/javascripts/src/user.js")
		script
			| require(['user']);
		block scripts
