extends ../layout/layout
block content
	include ../layout/_header
	include ../layout/_bread-crumbs
	div(class="wrap block-margin")
		include _list
block scripts
	script(src="/javascripts/src/index.js")