header
	div(class="header")
		div(class="wrap")
			div(class="fl")
				include _logo
			div(class="fl")
				include _nav
			div(class="fl")
				include _search
			div(class="fr")
				include ../user/_user