div(class="section")
	div(class="section-title") 热门标签
	div(class="section-content")
		include _tag
div(class="section")
	div(class="section-title") 最新博文
	div(class="section-content")
		include ../article/_last
div(class="section")
	div(class="section-title") 文章分类
	div(class="section-content")
		include ../home/_article
div(class="section")
	div(class="section-title") 友情链接
	div(class="section-content")
		//include _article