doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/main.css')
		block stylesheets
	body
		block content
		include ../layout/_requirejs
		include _footer
		block scripts
